include README.md
include LICENSE
include requirements.txt

graft lcsajdump
graft lcsajdump/ml/models

prune testCTFs
prune unitTest
prune _images

prune build
prune lcsajdump.egg-info

prune lcsajdump/venv

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store
global-exclude gadgets_found.txt  
global-exclude PAPER.md           

# Escludiamo il materiale di ricerca e i dataset dal pacchetto di produzione
prune lcsajdump/ml_study
